.contact {
  &__form {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 20px;
    top: 100px;
    right: 500px;
  }

  &__input {
    width: 100%;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #2f2f2f;
    margin-bottom: 40px;
    color: rgba(3, 0, 0, 0.76);
    outline: none;

    &:focus {
      border-color: rgb(0, 174, 255);
    }

    &::placeholder {
      font-size: 14px;
      line-height: 21px;
    }
  }

  &__button {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #247247;
    border: 0;
    color: #000;
    transition: background-color 0.3s;
    font-size: inherit;
    min-width: 100px;

    &:hover {
      background-color: #17ca68;
      cursor: pointer;
    }
  }
}
